

#main_wrapper{
    width:80em;
    margin:0 auto;
    font-size:0.9em;
}


#left_panel{
    float:left;
    width: 20em;
}

#right_panel{
    float:left;
    width:60em;
    padding:0px;
}

.timesheet{
    height: 300px;
    overflow: auto;
}

.timesheet table {
    width: 60em;
    margin:0 0 1em 0;
}

.timesheet .time{
    width: 1.5em;
}

.timesheet .title{
    width: 15em;
}

.timesheet .duration{
    width: 5em;
}

.timesheet .actions{
    width: 2em;
}


.timesheet tr{
    height:1em;
}


.timesheet thead{
    font-weight: bold;
}

.timesheet .description{
    font-size: 0.75em;
    color: #666666;
}

.timesheet tr, .timesheet td{
    margin:0;
    padding:.25em;
}

.timesheet tbody tr{
    background-color: #e7ffe4;
}

tr.break {
    background-color: #fff !important;
}

.timesheet  tr:hover{
    background-color: #c4e8c8 !important;
}


.copyright{
    clear:both;
    font-size: 0.75em;
    width:16em;
    margin:0 auto;
    padding:1em;
}


.report label{
    width: 10em;
    float:left;
}

.fat_button{
    width: 10em;
    padding:3em;
}

.favorite_button{
    width: 5em;
    padding: 3em;
}

.favourite_div{
    float:left;
}

