

#main_wrapper{
    width:1000px;
    margin:0 auto;
    font-size:0.9em;
}


#left_panel{
    float:left;
    width: 200px;
}

#right_panel{
    float:left;
    width:800px;
    padding:0px;
}


.timesheet{
    height: 300px;
    border:1px solid gray;

}

.timesheet table {
    width: 800px;

    padding:1em;
    margin:0 0 1em 0;


}

.timesheet tr{
    height:1em;
}


.timesheet thead{
    font-weight: bold;
}

.timesheet .description{
    font-size: 0.75em;
    color: #666666;
}

.timesheet tr, .timesheet td{
    margin:0;
}

.timesheet  tr.even{
    background-color: #cccccc;
}


.copyright{
    clear:both;
    font-size: 0.75em;
    width:16em;
    margin:0 auto;
    padding:1em;
}


.report label{
    width: 10em;
    float:left;
}

.fat_button{
    width: 50em;
    padding:5em;
}

tr.is_break{
    background-color: green;
}